:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-dark-1: #1E1E1E;
  --color-dark-2: #2C2C2C;

  --color-gray-1: #F2F2F4;
  --color-gray-2: #E0E0E4;
  --color-gray-3: #B3B3B3;
  --color-gray-4: #757575;

  --color-accent: #2E68F8;
  --color-accent-hover: #1A54E0;
  --color-accent-light: #EBF1FF;
  --color-accent-disabled: #A8C1FC;

  --color-danger: #EF4444;
  --color-danger-hover: #DC2626;
  --color-danger-light: #FEF2F2;

  --border: 1px solid var(--color-gray-2);
  --border-radius: 10px;
  --border-radius-sm: 6px;

  --box-shadow: 0 4px 16px rgba(46, 104, 248, 0.06), 0 24px 48px rgba(46, 104, 248, 0.1);

  --input-height: 42px;

  --transition-duration: 0.2s;
}
