.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: var(--input-height);
	padding-inline: 20px;
	font-size: 14px;
	font-weight: 600;
	border-radius: var(--border-radius);
	white-space: nowrap;
	transition: all var(--transition-duration);

	&:not(:disabled):active {
		scale: 0.98;
	}
}

.primary {
	color: var(--color-white);
	background-color: var(--color-accent);
	border: 1px solid var(--color-accent);

	&:not(:disabled):hover {
		background-color: var(--color-accent-hover);
		border-color: var(--color-accent-hover);
	}

	&:disabled {
		background-color: transparent;
		border: 1px solid var(--color-accent-disabled);
		color: var(--color-accent-disabled);
		cursor: not-allowed;
	}
}

.secondary {
	color: var(--color-accent);
	background-color: var(--color-accent-light);
	border: 1px solid transparent;

	&:not(:disabled):hover {
		background-color: #d6e4ff;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
