.field {
	position: relative;

	&:has(.input:not(:placeholder-shown)) .label {
		color: var(--color-accent);
		font-size: 12px;
		translate: -1.3em -3.3em;
	}
}

.label {
	position: absolute;
	top: 50%;
	left: 17px;
	color: var(--color-gray-3);
	translate: 0 -50%;
	font-size: 14px;
	pointer-events: none;
	transition: all var(--transition-duration);
}

.input {
	--fieldInputPaddingX: 16px;
	--fieldSeachInputIconSize: 16px;

	width: 100%;
	height: var(--input-height);
	padding-inline: var(--fieldInputPaddingX);
	font-size: 14px;
	background-color: transparent;
	border: var(--border);
	border-radius: var(--border-radius);
	color: var(--color-dark-1);

	&:hover {
		border-color: var(--color-gray-3);
	}

	&:focus {
		border-color: var(--color-accent);
		background-color: var(--color-accent-light);
		outline: none;
	}

	&[type="search"] {
		&:placeholder-shown {
			padding-right: calc(
				var(--fieldInputPaddingX) * 2 + var(--fieldSeachInputIconSize)
			);
			background-image: url("@/shared/assets/icons/icon-search_black.svg");
			background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
			background-size: var(--fieldSeachInputIconSize);
			background-repeat: no-repeat;
		}
	}

	&.isInvalid {
		border-color: #e53935;
	}
}

.error {
	position: absolute;
	top: 100%;
	left: 0;
	font-size: 12px;
	color: #e53935;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
}
